@import "styles/variables";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(-45deg, #055230 0%, #3ab38c 100%);
  
  //   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  //   background-size: 400% 400%;
  //   animation: gradient 15s ease infinite;
  height: 100vh;
  z-index: 100;

  & .contentContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 2rem 0;

    & .content {
      width: 100%;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      z-index: 300;
    }
  }
}

.noise {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./assets/images/noise.png");
  background-position: 0px 0px;
  background-size: cover;
  opacity: 0.4;
  mix-blend-mode: screen;
  pointer-events: none;
}

@media only screen and (max-width: 820px) {
  .app {
    display: none;
  }
}

@font-face {
  font-family: "Seven Segment";
  src: url("fonts/Seven Segment.ttf");
}
